@import "../../app.scss";

.services {
  background: linear-gradient(180deg, var(--liner1), var(--liner2));
  height: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  justify-content: space-around;
  .titilecontainer {
    align-items: center;
    display: flex;
    flex-direction: column;
    .title {
      display: flex;
      align-items: center;
      gap: 10px;
      @include mobile {
        padding: 10px;
      }
      h1 {
        font-size: 50px;

        @include mobile {
          font-size: 26px;
        }
        @include mobile2 {
          font-size: 35px;
        }
        @include tablet {
          font-size: 40px;
        }
        @include desktop {
          font-size: 50px;
        }
        @include sevicestext {
          font-size: 19px;
        }
      }
      button {
        border-radius: 50px;
        padding: 20px 40px;
        font-size: 18px;
        background-color: var(--orange);
        cursor: pointer;
        border: unset;
        @include mobile {
          padding: 15px 30px;
          font-size: 13px;
        }
        @include desktop {
          padding: 15px 30px;
          font-size: 13px;
        }
      }
      img {
        width: 200px;
        height: 50px;
        object-fit: cover;
        border-radius: 30px;
        @include mobile {
          width: 140px;
          height: 40px;
        }
      }
    }
  }
  .listcountainer {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    margin-bottom: 50px;
    .slider {
      height: 350px;
      display: flex;
      transition: 0.3s all ease-in;
      position: absolute;
      left: 0;
      .container {
        width: 100vw;
        display: flex;
        align-items: center;
        justify-content: center;
        .item {
          background-color: var(--white);
          height: 100%;
          width: 600px;
          display: flex;
          border-radius: 15px;
          // align-items: center;
          // justify-content: center;
          .itemha {
            padding: 20px;
            text-align: justify;
            color: var(--black);
            @include card {
              padding: 20px;
            }
            @include card2 {
              padding: 23px;
            }
            p {
              font-size: 15px;
              margin: 10px 0;
              background: -webkit-linear-gradient(
                180deg,
                var(--black),
                var(--orange)
              );
              line-height: 23px;
              -webkit-background-clip: text;

              -webkit-text-fill-color: transparent;
              @include mobile2 {
                font-size: 14px;
                margin: 0;
              }

              @include card {
                line-height: 19px;
                font-size: 12px;
              }
              @include mobile {
                margin: 0;
              }
              @include card2 {
                font-size: 14px;
                line-height: 19px;
              }
            }
            h2 {
              @include card {
                font-size: 19px;
              }
            }
            button {
              background-color: var(--orange);
              cursor: pointer;
              margin: 15px 0;
              border: unset;
              border-radius: 8px;
              display: inline-block;
              width: 100%;
              height: 45px;
              @include card {
                width: 100%;
                height: 40px;
              }
            }
          }
        }
      }
    }
  }
  .arrow {
    position: absolute;
    z-index: 99;
    left: 50%;
    transform: translate(-50%, -50%);
    align-items: center;
    justify-content: center;
    display: flex;
    cursor: pointer;
    .right {
      transform: translate(320px, 230px);
      width: 40px;
      height: 40px;
      background: var(--orange);
      color: var(--black);
      padding: 8px;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 50%;
      @include slider {
        transform: translate(50px, -15px);
      }
    }
    .left {
      background: var(--orange);
      color: var(--black);
      padding: 8px;
      border-radius: 50%;
      display: flex;
      align-items: center;
      justify-content: center;
      transform: translate(-400px, 230px);
      width: 40px;
      height: 40px;
      @include slider {
        transform: translate(-120px, -15px);
      }
    }
  }
}
