@font-face {
  font-family: "webfont";
  src: url("font/IRANYekanWebBold.ttf") format("truetype"),
    url("font/IRANYekanWebBold.woff") format("woff"),
    url("font/IRANYekanWebExtraBold.woff2") format("woff2");
}

:root {
  --matncolor: lightgray;
  --backcolor: #0c0c1d;
  --backcolornav: #0c0c1d;

  --portofolio: #0c0c1d;
  --liner1: #0c0c1d;
  --liner2: #111132;
  --liner3: #505064;
  --white: white;
  --black: black;
  --orange: orange;
  --colorslidertext: #ffffff09;
  --gray: gray;
  --lightgray: rgb(196, 195, 195);
}
[data-theme="light"] {
  --portofolio: rgb(219, 218, 218);
  --matncolor: rgb(51, 51, 51);
  --backcolor: rgb(219, 218, 218);
  --backcolornav: rgba(126, 124, 124, 0.801);
  --liner1: rgba(126, 124, 124, 0.801);
  --liner2: white;
  --liner3: #6d6b6b;
  --white: rgb(43, 43, 43);
  --black: white;
  --orange: rgb(255, 166, 0);
  --colorslidertext: rgba(196, 196, 196, 0.377);
  --gray: rgb(51, 51, 51);
  --lightgray: rgb(94, 94, 94);
}
html {
  scroll-snap-type: y mandatory;
  scroll-behavior: smooth;
}
input {
  font-family: webfont;
}
textarea {
  font-family: webfont;
}
button {
  font-family: webfont;
}
body {
  direction: rtl;
  font-family: webfont;
  background-color: var(--backcolor);
  color: var(--matncolor);
}

body {
  --sb-track-color: #0c0c1d;
  --sb-thumb-color: #ffffff;
  --sb-size: 5px;

  scrollbar-color: var(--sb-thumb-color) var(--sb-track-color);
}

body::-webkit-scrollbar {
  width: var(--sb-size);
}

body::-webkit-scrollbar-track {
  background: var(--sb-track-color);
  border-radius: 10px;
}

body::-webkit-scrollbar-thumb {
  background: var(--sb-thumb-color);
  border-radius: 10px;
}
a {
  text-decoration: none;
  color: inherit;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
section {
  height: 100vh;
  scroll-snap-align: center;
}

@mixin mobile {
  @media (max-width: 1000px) {
    @content;
  }
}
@mixin sevicestext {
  @media (min-width: 320px) and (max-width: 370px) {
    @content;
  }
}
@mixin slider {
  @media (max-width: 730px) {
    @content;
  }
}
@mixin card {
  @media (min-width: 320px) and (max-width: 480px) {
    @content;
  }
}
@mixin card2 {
  @media (min-width: 376px) and (max-width: 480px) {
    @content;
  }
}
@mixin mobile2 {
  @media (min-width: 520px) and (max-width: 738px) {
    @content;
  }
}
@mixin tablet {
  @media (min-width: 738px) and (max-width: 1000px) {
    @content;
  }
}
@mixin desktop {
  @media (min-width: 1001px) and (max-width: 1560px) {
    @content;
  }
}
@mixin desktop2 {
  @media (min-width: 1300px) and (max-width: 1560px) {
    @content;
  }
}
