@import "../../app.scss";

.cursor {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: linear-gradient(-5deg, #111132, #e73c7e, orange, #23d5ab);
  background-size: 400% 400%;
  animation: aha 4s ease infinite;
  position: fixed;
  pointer-events: none;
  z-index: 101;
  transition: none !important;
  @include mobile {
    display: none;
    visibility: hidden;
  }
}
@keyframes aha {
  0% {
    background-position: 0% 30%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 100%;
  }
}
